// {
//     "presets": [
//         "env"
//     ],
//     "plugins": [
//         "transform-async-to-generator",
//         [
//             "transform-runtime",
//             {
//                 "polyfill": false,
//                 "regenerator": true
//             }
//         ]
//     ]
// }
{
    "presets": ["@babel/preset-env"],
    "plugins": [
      "babel-plugin-add-module-exports",
      "babel-plugin-transform-async-to-generator",
      "babel-plugin-transform-runtime"
    ]
  }
  